:root {
  --text-color: #000000;
  --hr-color: #26292a;
  --transition-duration: 0.4s;
  --transition-delay: 0.3s;
  --red: #e74c3c;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: 22px sans-serif;
  height: 100vh;
}

/*Header*/
    

.header {
  background-image: url('https://www.institutoerudite.org/wp-content/uploads/2018/02/especialista-de-aula-de-naturaleza-720x388.jpg');
  padding: 1rem 0 3rem 0;
  min-height: 61rem;
  background-position: center center;
  background-size: cover;
  

}

@media (max-width: 768px){
  .header {
    background-color: #1c3816;
    min-height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
  }

}



img {
  width: 8rem;
  height: 8rem;
  padding-left: 1rem;
  cursor: pointer;
}
img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

div.container-imagen {
  max-width: 100%;
}

div.container {
  max-width: 100%;
}

/* seccion para los links del navbar */

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.2rem;
}

li a:hover {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  transition: 0.5s;
}
.menu {
  display: flex;
  justify-content: center;
}

.menu li {
  margin-right: 2rem;  
}

.menu a {
  position: relative;
  display: block;
  padding: .8rem 2rem;
}

.menu .border {
  position: absolute;
  left: 0;
  background: currentColor;
  transition: transform var(--transition-duration) ease-in-out;
}

.menu .border-top,
.menu .border-bottom {
  width: 100%;
  height: 1px;
  transform: scaleX(0);
}

.menu .border-left,
.menu .border-right {
  width: 1px;
  height: 100%;
  transform: scaleY(0);
}

.menu .border-top,
.menu .border-left,
.menu .border-right {
  top: 0;
}

.menu .border-bottom {
  bottom: 0;
  transform-origin: bottom right;
}

.menu .border-top {
  transform-origin: top left;
}

.menu .border-left {
  transform-origin: bottom left;
}

.menu .border-right {
  left: auto;
  right: 0;
  transform-origin: top right;
}

.menu a:hover .border-top,
.menu a:hover .border-bottom {
  transform: scaleX(1);
}

.menu a:hover .border-left,
.menu a:hover .border-right {
  transform: scaleY(1);
}

.menu a:hover .border-right {
  transition-delay: var(--transition-delay);
}

.menu a:hover .border-bottom {
  transition-delay: calc(var(--transition-delay) * 2);
}

.menu a:hover .border-left {
  transition-delay: calc(var(--transition-delay) * 3);
}

.menu[data-animation="diagonal"] .border-left {
  transform-origin: top left;
}

.menu[data-animation="diagonal"] .border-right,
.menu[data-animation="diagonal"] .border-bottom {
  transform-origin: bottom right;
}

.menu[data-animation="diagonal"] a:hover [class^="border"] {
  transition-delay: 0s;
}

/*Titulo*/

/*Fin Titulo*/

/* seccion para los links del navbar */

/*Finaliza Header*/

/*descripcion de Footer P*/
div.container-main{
  max-width: 90%;
}
.jumbotron {
  padding: 3rem;
}

#footerEdit {
  font-family: verdana, Arial, Helvetica, sans-serif;

  background-color: #1c3816;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  align-items: center;
}

div#footerIcons {
  width: 30%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#footerIcons i {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

#footterCopyright {
  font-size: 1rem;
}

@media (max-width: 768px) {
  div#footerIcons {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  #footterCopyright {
    font-size: 0.8rem;
    text-align: center;
  }
}