:root {
  --text-color: #000000;
  --hr-color: #26292a;
  --transition-duration: 0.4s;
  --transition-delay: 0.3s;
  --red: #e74c3c;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: 22px sans-serif;
  height: 100vh;
  background-color: #EEEBDD;
}

/*Header*/

.header {
  background-image: url("https://www.institutoerudite.org/wp-content/uploads/2018/02/especialista-de-aula-de-naturaleza-720x388.jpg");
  padding: 0.1rem 0 3rem 0;
  min-height: 61rem;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 768px) {
  .header {
    background-color: #1c3816;
    min-height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

img {
  width: 8rem;
  height: 8rem;
  padding-left: 1rem;
  cursor: pointer;
}
.logo img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

div.container-imagen {
  width: 100%;
}

div.container {
  width: 100%;
}

/* seccion para los links del navbar */

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.2rem;
}

li a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  transition: 0.5s;
}
.menu {
  display: flex;
  justify-content: center;
}

.menu li {
  margin-right: 2rem;
}

.menu a {
  position: relative;
  display: block;
  padding: 0.8rem 2rem;
}

.menu .border {
  position: absolute;
  left: 0;
  background: currentColor;
  transition: transform var(--transition-duration) ease-in-out;
}

.menu .border-bottom {
  width: 100%;
  height: 1px;
  transform: scaleX(0);
}

.menu .border-bottom {
  bottom: 0;
  transform-origin: bottom right;
}

.menu a:hover .border-bottom {
  transform: scaleX(1);
}

.menu[data-animation="diagonal"] a:hover [class^="border"] {
  transition-delay: 0s;
}

/* section de main */
div.container-main {
  width: 100%;
}
.container-main #nosotros{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2{
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}
.imgnos{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.imgnos img{
  width: 260px;
  height: 250px;
  margin-left: 4rem;
  border-radius: 50%;
}
.noticias{
  width: 100%;
}
.cards{
  color: #053354;
  display: flex;
  flex-direction: column;
}
.card{
  background-color: #CDCDCD;
  height: 250px;
  width: 50%;
  margin-top: 2.5rem;
  margin-left: 15rem;
  margin-right: 5rem;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.card:nth-child(2){
  margin-left: 50rem;
}
.card img{
  width: 300px;
  height: 250px;
  padding-left: 0;
  position:initial;
}
.card .container{
  width: 500px;
  padding: 2rem ;
}

.container-main #contacto{
  height: 80vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.info{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.info p{
  margin-bottom: 1.5rem;
}
.info-redes{
  width: 70%;
  display: flex;
  justify-content: center;
}
.info-redes a i:last-child{
  font-size: 2rem;
  margin-bottom: 1.5rem;
  margin-right: 3rem;
  color: #564646;
}

/* @media (max-width: 768px) {
  div#footerIcons {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  #footterCopyright {
    font-size: 0.8rem;
    text-align: center;
  }
}
 */
/* final section de main */


/*descripcion de Footer P*/

.jumbotron {
  padding: 3rem;
}

#footerEdit {
  font-family: verdana, Arial, Helvetica, sans-serif;
  background-color: #1c3816;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



#footterCopyright {
  font-size: 1rem;
}

/****************************************************
finaliza CSS de la configuracon de "Footer"
****************************************************/


/****************************************************
inicia CSS de la configuracon de "Galery"
****************************************************/


div .DivGalleryMain{
  background-color: #464F41;
}

/****************************************************
finaliza CSS de la configuracon de "Galery"
****************************************************/